# Qt-style C++ formatting.
BasedOnStyle: WebKit
Language: Cpp
Standard: c++17
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: None
PointerAlignment: Right
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeElse: false
  BeforeCatch: false
SortIncludes: true
SpaceAfterCStyleCast: false
